.card-deck {
  width: 100vw;
}

.decker {
  display: flex;
  justify-content: center;
}

.carder {
  height: 15rem;
}

/* .carddeck {
  display: flex;
  flex: wrap;
} */

.cards {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

/* .cards:nth-child(2) {
  order: -1;
  flex-basis: 100%;
} */

.modtex {
  font-family: "Bangers", cursive;
}

.paratex {
  font-size: large;
  color: slategray;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .modtex {
    display: flex;
    width: 70px;
    justify-content: center;
  }
}
