.card-deck {
  width: 100vw;
}

.decker {
  display: flex;
  justify-content: center;
}

.deck {
  display: flex;
  flex-wrap: wrap;
}

.carder {
  height: 15rem;
}

.cards {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.modtex {
  font-family: "Bangers", cursive;
}

.paratex {
  font-size: large;
  color: slategray;
}

@media (min-width: 480px) {
  .paratex {
    text-align: center;
    font-size: 1rem;
  }
  .modtex {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .paratex {
    text-align: center;
    font-size: 1rem;
  }
  .modtex {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .paratex {
    text-align: center;
    font-size: 1rem;
  }
  .modtex {
    display: flex;
    justify-content: center;
  }
}
