.homecontainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}

.titlename {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}

.fig {
  text-align: center;
}

.profilepic {
  width: 25rem;
}

.homesum {
  text-align: center;
  font-size: 1.2rem;
}

.skill {
  /* font-weight: bold; */
  font-style: italic;
  font-size: 1em;
  color: #0096cc;
}
