.homecontainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.titlename {
  margin-bottom: 1rem;
  font-size: 3rem;
  text-align: center;
  /* font-family: "Bangers", cursive; */
  font-family: "Acme", sans-serif;
}

.fig {
  text-align: center;
}

.profilepic {
  width: 25rem;
}

.homesum {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Acme", sans-serif;
  margin-left: 200px;
  margin-right: 200px;
}

.skillset {
  display: flex;
  justify-content: center;
  /* font-weight: bold; */
  font-style: italic;
  font-size: 10rem;
  /* color: #0096cc; */
}

@media all and (max-width: 800px) {
  .homesum {
    margin: 0;
  }
  .profilepic {
    width: 18rem;
  }
}
