.form-group {
  width: 40rem;
}

.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ContactFormText.contact-form__input {
  height: 150px;
}

.Contact-header {
  text-align: center;
  font-family: "Acme", sans-serif;
  font-size: 3rem;
}

.phonecontainer {
  padding-top: 2rem;
}

.phonenumber,
.phones {
  display: flex;
  justify-content: center;
  font-family: "Acme", sans-serif;
}

@media all and (max-width: 800px) {
  .form-group {
    width: 18rem;
  }
}
