.bord {
  border-bottom: 0.5px solid royalblue;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.nav-link {
  font-family: "Bangers", cursive;
  transition: opacity 500ms ease-in-out;
  opacity: 1;
}

.nav-link:hover {
  /* font-family: "Acme", sans-serif; */
  /* font-size: 30px; */
  border-bottom: 4px solid #f5f7fa;
  opacity: 0.5;
  /* right: 0; */
}

.iconic {
  font-size: 1.9rem;
  color: black;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.iconic:hover {
  /* font-size: 2.5rem; */
  /* color: #f5f7fa; */
  opacity: 0.5;
}
