body {
  padding: 0;
  background-image: radial-gradient(
    circle 848px at 10% 20%,
    rgba(174, 231, 165, 0.9) 0%,
    rgba(181, 205, 154, 1) 90%
  );
}
.containerr {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  margin: 0;
  background-color: ivory;
}

.footy {
  position: fixed;
  bottom: 0.3rem;
  right: 0;
  left: 0;
  height: 30px;
  border-top: 1px solid black;
}

.contain {
  display: flex;
  justify-content: space-evenly;
}

.iconic {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}
